  .items {
        .item {
            a {
                display: flex;
                text-align: left;

                i {
                    margin-right: 2.08rem;
                    align-self: center;
                    margin-bottom: 0;
                }
            }
        }
    }
